

.navcl{
  color: white;
  background-image: url(../app/src/asset/image/2.png);
}
.ul{
  color: white;
}
.logof{
  font-size: 30px;
  text-align: left;
  padding-left: 0px;
}
.ft{
  background-color:rgb(56, 56, 71);
  padding: 20px;
  margin-top: 200px;
  color: white;
  background-image: url(./src/asset/image/1.png);
  background-size: 100%;
}
.logomar{
  margin: 10px;
}
.bd{
  background-image: url(./src/asset/image/4.png);
  background-size: 100%;
  
}
.mar{
  margin-top: 20px;
}
.fr{
  max-width: 300px;
  box-shadow: 2px;
  box-shadow:deepskybluesss;
}
.cd{
  text-align: left;
  color: white;
  background-image: url(./src/asset/image/6.png);
  background-size: 100%;
  max-width: 740px;
  min-height: 200px;
 
  box-shadow: 0 4px 8px 0 rgb(127, 223, 255), 0 6px 20px 0 rgb(127, 223, 255);

  
}
.cdc{
  color: white;
}
.cardimg{
  margin: 10px;
  min-width: 250px;
  min-height: 250px;

}
.line{
  color:cyan;
  
}
.btnc{
  border-color: magenta;
}
.footmar{
  margin-top: 230px;
  flex: end;
}
.cardmar{
  margin-left: 20px;

}
.titl{
  box-shadow: 0 4px 8px 0 rgb(127, 223, 255), 0 6px 20px 0 rgb(127, 223, 255);

}
table{
  
  color: white; 
  
  
}
th{
  
  background-color:skyblue;
  margin-left: 20px;
  padding: 20px;
}
.tdd{
  padding-left: 10px;
  min-width: 150px;
  max-width: 150px;
  text-align: left;
  color: white;
  margin-top: 10px;
}
.tid{
  width: 200px;
}
.padl{
  padding-left: 10px;
}
.trr{
  text-align: start;
  padding: 10px;
  margin-top: 0px;
  border-radius: 2px;
  background-color:rgba(27,30,45,245);
  box-shadow: 0 4px 8px 0 rgb(127, 223, 255), 0 6px 20px 0 rgb(127, 223, 255);
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.tr{
  margin-top: 10px
}
