

.navcl{
  color: white;
  background-image: url(../app/src/asset/image/2.png);
}
.ul{
  color: white;
}
.logof{
  font-size: 30px;
  text-align: left;
  padding-left: 0px;
}
.ft{
  background-color:rgb(56, 56, 71);
  padding: 20px;
  margin-top: 200px;
  color: white;
  background-image: url(./src/asset/image/1.png);
  background-size: 100%;
}
.logomar{
  margin: 10px;
}
.bd{
  background-image: url(./src/asset/image/4.png);
  background-size: 100%;
  
}
.mar{
  margin-top: 20px;
}
.fr{
  max-width: 300px;
  box-shadow: 2px;
  box-shadow:deepskybluesss;
}
.cd{
  text-align: left;
  color: white;
  background-image: url(./src/asset/image/6.png);
  background-size: 100%;
  max-width: 740px;
  min-height: 200px;
 
  box-shadow: 0 4px 8px 0 rgb(127, 223, 255), 0 6px 20px 0 rgb(127, 223, 255);

  
}
.cdc{
  color: white;
}
.cardimg{
  margin: 10px;
  min-width: 250px;
  min-height: 250px;

}
.line{
  color:cyan;
  
}
.btnc{
  border-color: magenta;
}
.footmar{
  margin-top: 230px;
  flex: end;
}
.cardmar{
  margin-left: 20px;

}
.titl{
  box-shadow: 0 4px 8px 0 rgb(127, 223, 255), 0 6px 20px 0 rgb(127, 223, 255);

}
table, tr, th, td {
  border: 2px solid;
  color: white; 
  border-color: aliceblue;
  background-color:rgba(192, 192, 192, 0.486);
}
table {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid;
  color: white; 
  border-color: aliceblue;
}

th, td {
  text-align: left;
  padding: 8px;
  border: 2px solid;
  color: white; 
  border-color: aliceblue;
}

tr:nth-child(even){background-color:aliceblue}

th {
  background-color:skyblue;
  color: white;
  border: 2px solid;
  color: white; 
  border-color: aliceblue;
}